/* Flex layout */
.box { display: -webkit-box; display: -moz-box; display: -ms-flexbox;
    display: -webkit-flex; display: flex; }
.leftcell { width: 20%; -webkit-box-flex: 1; -moz-box-flex: 1;
    -webkit-flex: 1; -ms-flex: 1; flex: 1; overflow: hidden; }
.rightcell { width: 80%; -webkit-box-flex: 7; -moz-box-flex: 7;
    -webkit-flex: 7; -ms-flex: 7; flex: 7; }

.chart, .chart_bottom_controls { margin:0; padding:0; }
.chart_bottom_controls .rightcell {
    margin-left: 68px; z-index: 0; }

.chart > li { border-bottom: 1px solid #aaa; border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;   
    -moz-transition:border-top-width 0.1s ease-in; 
    -webkit-transition:border-top-width 0.1s ease-in; border-top:0px solid rgba(0,0,0,0); }
.chart > li:first-child { border-top: 1px solid #aaa; }
.chart > li:after { display:block; position:absolute; height:100%; width:100%; 
    top:0px; left:0px; content:' '; z-index:-1; }
.chart h4 { font-size: 15px; margin-top: 10px; margin-left: 20px; text-indent: -9px; 
    cursor: ns-resize; cursor: grab; cursor: -moz-grab; cursor: -webkit-grab; }
.chart h4:active { cursor: grabbing; cursor: -moz-grabbing; cursor: -webkit-grabbing; }

.chart a { text-decoration: none; text-shadow: 1px 1px 1px #aaa; }

.chart .hdr { -webkit-box-shadow: 10px 10px 10px inset black; background-color: #f4f4f4; 
    padding: 5px; padding-top: 0; border-right: 3px double #e5e5e5; }

.chart .marker { opacity:0.0; }

.ann td:first-child { font-weight: bold; }
.ann td:not(last-child) { padding-right: 15px; }
.ann div { margin-top: 10px; background-color: red; }

.glyphicon-align-justify { color: #aaa; text-shadow: 2px 2px 2px white; font-size: 13px ; }

/* Dygraph changes */
.dygraphDefaultAnnotation { height: auto ! important; width: auto ! important;
    padding: 0px 5px; -webkit-transform: translate(0px,-3px); transform: translate(0px,-3px); }
    
#events .dygraphDefaultAnnotation { -webkit-transform: translate(0px,-5px);
    transform: translate(0px,-5px); }
    
.scroller { margin: -10px -15px 0px -15px; border: 1px solid #e5e5e5;
    padding: 3px; height: 130px; overflow-y: scroll; }

.noChart {
    width: 100%; height: 100%; text-align: center; padding: 40px 0px;
    font-style: italic;				
}

/* Modal dialog tweaks for blood pressure dialog with date picker */

.modal-body label {
    margin-top: 10px;
}
table[datepicker] {
	margin: 5px;
}
table[datepicker] th {
	padding: 3px;
}
table[datepicker] button {
    background-image: none;
}

/* Popover editor for individual records in the graph */

.popover {
	position: absolute;
    background-color: white;
    opacity: 1;
    z-index: 15 ! important;
}
.mainRow {
    width: 100%;
    padding-right: 20px;
    letter-spacing: 2px;
}
.actionRow {
    padding-right: 10px;
}
a.glyphicon { 
	cursor: pointer; 
}
.gph { position: relative; }