$white: #FFFFFF;
$green: #A9D385;
$dark_blue: #1E429B;

.main-pane {
    padding: 2rem;
    background-color: white;
    min-height: 50rem;
    box-shadow: 0px 1px 3px silver inset;
    
    .nav-tabs {
        margin-bottom: 2rem;
    }
}
.header {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
    background: $green url(/neurod/images/bridge_logo.svg) left center no-repeat;
    background-size: 9rem;

    > * {
        height: 7rem;
        vertical-align: middle;
    }
    a, a:visited, a:active {
        color: $white;
        padding-left: 8.7rem;
        padding-top: 0.4rem;
        text-decoration: none;
    }

    .partner-header {
        display: block;
        height: 6rem;
        font-size: 2.2rem;
        line-height: 6rem;
        margin-left: -15px; 
    }
    .bridge-header {
        line-height: 6rem;
        text-align: right;
        form {
            margin-right: -15px; /* Squish login form to far right of box, no additional padding */
        }
 
        section {
           button:first-child {
                color: $dark_blue;
                font-weight: 700;
            }
            ul > li > a {
                font-weight: 700;
                text-align: left;
            }
        } 
    }

}

/* Login */
form[name='signInForm'] {
    input[name='username'], input[name='password'] {
        width: 10rem;
    }
}
