$white: #FFFFFF;
$green: #A9D385;
$dark_blue: #1E429B;
$black: #000000;

.main-pane {
    padding: 2rem;
    background-color: white;
    /*min-height: 30rem;*/
    
    .nav-tabs {
        margin-bottom: 2rem;
    }
}

#password {
    padding-top: 7px;
}

form[name='$parent.settings'] {
    a, .well > h4 {
        color: $dark_blue;
    }
    .alert {
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;
    }
}

/* Login */
form[name='signInForm'] {
    input[name='username'], input[name='password'] {
        width: 10rem;
    }
}
