<li class="box">
    <div class="hdr leftcell">
        <h4 class="graph">
            <span class="glyphicon glyphicon-align-justify"></span> {{tracker.name}}
        </h4>
        <div>
            <a class="cog btn btn-link" ng-click="options($event, tracker)">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a class="plus btn btn-link" ng-click="createRecord(tracker)">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
    <div class="gph rightcell">
        <div></div>
        <ng-include src="'views/trackers/'+tracker.type.toLowerCase()+'-popover.html'"></ng-include>
    </div>
</li>    
