<li class="box">
    <div class="hdr leftcell">
        <h4 class="graph">
            <span class="glyphicon glyphicon-align-justify"></span> {{tracker.name}}
        </h4>
        <div>
            <button class="cog btn btn-link" ng-click="options(tracker)">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            <button class="plus btn btn-link" ng-click="create(tracker)">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <div class="gph rightcell">
        <div></div>
        <ng-include src="'views/trackers/'+tracker.type.toLowerCase()+'-popover.html'"></ng-include>
    </div>
</li>    
