$white: #FFFFFF;
$black: #231F20;
$orange: #FAAB2B;
$green: #A9D385;

$lightblue: #81D2EF;
$blue: #4688C7;
$darkblue: #1E429B;

$headerHeight: 8rem;
$titleHeight: 5rem;
$breadcrumbHeight: 3rem;
$footerHeight: 4rem;

@mixin circle {
    border-radius: 50%;
    color: $blue;
    font-weight: bold;
    background-color: $white; 
}
@mixin inverse-circle {
    border-radius: 50%;
    font-weight: bold;
    color: $white;
    background-color: $lightblue; 
}

@mixin flexbox {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    -webkit-box-orient: vertical;
    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
        
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-align-content: center;
    align-content: center;
    
    -moz-box-pack:center;
    -moz-box-align:center;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    box-pack:center;
    box-align:center; 
}
@mixin flex_1 {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin flex_2 {
    -webkit-box-flex: 3;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 3;         /* OLD - Firefox 19- */
    -webkit-flex: 3;          /* Chrome */
    -ms-flex: 3;              /* IE 10 */
    flex: 3;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


html {
    margin: 0; 
    padding: 0;
    font-size: 10px;
    color: $black;
    font-family: sans-serif;
    overflow: hidden;
    height: 100%;
}
body {
    font-size: 1.4rem;
    height: 100%;
}
#content {
    opacity: 0;
}

a, a:active, a:hover {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
a[ng-click] {
    cursor: pointer;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $headerHeight;
    overflow: hidden;
    background-color: $lightblue;
    
    .hdr {
        color: $white;
        letter-spacing: 1px;
        height: $titleHeight;
        width: 100%;
        display: table;
        
        div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 1.8rem;
            padding: 0 5rem;
            line-height: .9;        
        }
    }
    .ng-include {
        height: $breadcrumbHeight;
        width: 100%;
        display: table;
    }
    .wiz {
        background-color: $darkblue;
        color: $white;
        display: table-row;
        
        & > div {
            display: table-cell;
            text-align: center;
            
                padding: .5rem;
                
                span {
                    @include inverse-circle;
                    display: inline-block;
                    text-size: 1.4rem;
                    width: 2rem;
                    height: 2rem;
                }
        }
    }
}
.header {
    display: none;
    width: 100%;
    color: $white;
    background: $green url(/neurod/images/bridge_logo.svg) left center no-repeat;
    background-size: 9rem;
    
    > * {
        display: table-cell;
        height: 7rem;
        vertical-align: middle;
    }
    h1 {
        margin: 0;
        padding: 0;
        font-size: 2.1rem;
        letter-spacing: .1rem;
        padding-left: 8rem;
        font-family: 'Helvetica Neue', sans-serif;
    }
    .auth {
        text-align: right;
        padding-right: 1.2rem;
        color: silver;
        font-size: 1.1rem;
        letter-spacing: 1px;
        
        button {
            margin-left: 1rem;
        }
    }
}

#welcome .wiz div:nth-child(1) ~ div span,
#tasks .wiz div:nth-child(2) ~ div span,
#sensors .wiz div:nth-child(3) ~ div span,
#deidentification .wiz div:nth-child(4) ~ div span,
#aggregation .wiz div:nth-child(5) ~ div span,
#impact .wiz div:nth-child(6) ~ div span,
#risk .wiz div:nth-child(7) ~ div span,
#risk2 .wiz div:nth-child(7) ~ div span,
#withdrawal .wiz div:nth-child(8) ~ div span,
#consent .wiz div:nth-child(9) ~ div span, 
#thankyou .wiz div:nth-child(9) ~ div span {
    @include circle;
}

article {
    position: absolute;
    left: 0;
    right: 0;
    top: $headerHeight;
    bottom: $footerHeight;
    overflow: auto;
    padding: 2rem 3rem;
    
    @include flexbox;
    
    .info {
        @include flex_1;
        @include flexbox;
        text-align: center;
        
        &.animcell {
            & > * {
                opacity: 0;
            }
            & > *:first-child {
                opacity: 1;
            }            
        }
    }
    .more_info {
        @include flex_1;
        @include flexbox;
    }
    .help {
        @include flex_1;
        @include flexbox;
    }
    .image {
        @include flex_2;
        @include flexbox;
        width: 32rem;
        max-width: 32rem;
        position: relative;
        text-align: center;
        &.animcell {
            & > * {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                text-align: center;
                opacity: 0;
                
                img {
                    display: inline-block;
                    height: 100%;
                    max-width: 100%;
                }
                
            }
            & > *:first-child {
                opacity: 1;
            }
        }
        
    }
    
    .bold {
        font-weight: bold;
    }
    .button {
        border-radius: 1.5rem;
        padding: .35rem 3rem;
        letter-spacing: 1px;
    }
    .lm {
        background-color: $blue;
        color: $white;
    }
    .gs {
        background-color: $orange;
        color: $white;
        font-size: 2rem;
    }
    .gs-pressed {
        background-color: #D68927;
    }
    .lm-pressed {
        background-color: #2D628E;
    }
}
#tasks {
    .image {
        table {
            max-width: 32rem;
            margin: 0 auto;
        }
        td {
            width: 50%;      
        }
    }
    img {
        width: 10rem;
        height: 10rem;
        margin: .8rem;
    }
}
#consent {
    .help {
        font-size: 1.8rem;
    }
    .form-group {
        max-width: 32rem;
    }
}
#thankyou {
    h3 {
        font-size: 3rem;
    }
    .info {
        font-size: 1.8rem;
        font-weight: bold;
    }
    .sub_info {
        font-size: 1.8rem;
    }
}
.flipped {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footerHeight;
    background-color: $blue;
    color: $white;
    
    & > div {
        display: table;
        width: 100%;
        height: $footerHeight;
        
        & > * {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
    
    .animcell {
        & > * {
            opacity: 0;
        }
        & > *:first-child {
            opacity: 1;
        }
    }    
}

/* ANIMATION */

.info.animcell > *, footer .animcell > *, #content {
    transition-property: opacity;
    transition-duration: 1.5s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1.5s;
}

/* And, the device adjustments. */

.desktop .action:after { content: "Click"; }
.mobile .action:after { content: "Tap"; }

/* Older, shorter iPhones, shorten things so page doesn't scroll. */
@media screen and (max-height: 480px) {
    #tasks .image image {
        width: 9.5rem;
        height: 9.5rem;
        margin: .5rem;
    }
}

@media screen and (min-width: 1025px) { /* Desktop */
    .header { display: table; }
    header { height: 15rem; }
    article { top: 15rem; }
}
