$white: #FFFFFF;
$black: #231F20;
$orange: #FAAB2B;
$green: #A9D385;

$lightblue: #81D2EF;
$blue: #4688C7;
$darkblue: #1E429B;

$headerHeight: 8rem;
$titleHeight: 5rem;
$breadcrumbHeight: 3rem;
$footerHeight: 4rem;

@mixin circle {
    border-radius: 50%;
    color: $blue;
    font-weight: bold;
    background-color: $white; 
}
@mixin inverse-circle {
    border-radius: 50%;
    font-weight: bold;
    color: $white;
    background-color: $lightblue; 
}

html {
    margin: 0; 
    padding: 0;
    font-size: 10px;
    color: $black;
    font-family: sans-serif;
    overflow: hidden;
}
body {
    font-size: 1.4rem;
}

a, a:active, a:hover {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $headerHeight;
    overflow: hidden;
    background-color: $green;
    
    .hdr {
        color: $white;
        letter-spacing: 1px;
        height: $titleHeight;
        width: 100%;
        display: table;
        
        div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: 1.8rem;
            padding: 0 5rem;
            line-height: .9;        
        }
    }
    .ng-include {
        height: $breadcrumbHeight;
        width: 100%;
        display: table;
    }
    .wiz {
        background-color: $darkblue;
        color: $white;
        display: table-row;
        
        & > div {
            display: table-cell;
            text-align: center;
            
                padding: .5rem;
                
                span {
                    @include inverse-circle;
                    display: inline-block;
                    text-size: 1.4rem;
                    width: 2rem;
                    height: 2rem;
                }
        }
    }
}
.header {
    display: none;
    width: 100%;
    background: white url(/neurod/images/bridge_logo.svg) left center no-repeat;
    background-size: 9rem;
    
    > * {
        display: table-cell;
        height: 7rem;
        vertical-align: middle;
    }
    h1 {
        margin: 0;
        padding: 0;
        font-size: 2.1rem;
        letter-spacing: .1rem;
        padding-left: 8rem;
        font-family: 'Helvetica Neue', sans-serif;
    }
    .auth {
        text-align: right;
        padding-right: 1.2rem;
        color: silver;
        font-size: 1.1rem;
        letter-spacing: 1px;
        
        button {
            margin-left: 1rem;
        }
    }
}

#welcome .wiz div:nth-child(1) ~ div span,
#tasks .wiz div:nth-child(2) ~ div span,
#sensors .wiz div:nth-child(3) ~ div span,
#deidentification .wiz div:nth-child(4) ~ div span,
#aggregation .wiz div:nth-child(5) ~ div span,
#impact .wiz div:nth-child(6) ~ div span,
#risk .wiz div:nth-child(7) ~ div span,
#withdrawal .wiz div:nth-child(8) ~ div span,
#consent .wiz div:nth-child(9) ~ div span, 
#thankyou .wiz div:nth-child(9) ~ div span {
    @include circle;
}

article {
    position: absolute;
    left: 0;
    right: 0;
    top: $headerHeight;
    bottom: $footerHeight;
    overflow: auto;
    padding: 2rem 3rem;
    
    .info {
        text-align: center;
        /* Height is also adjusted below for specific cards. */
        height: 5rem;
    }
    .more_info {
        text-align: center;
    }
    .help {
        text-align: center;
    }
    .image {
        text-align: center;
        img {
            width: 100%;
            max-width: 320px;
        }
    }
    
    .bold {
        font-weight: bold;
    }
    .button {
        border-radius: 1.5rem;
        padding: .35rem 3rem;
        margin: 1.5rem 0;
        display: inline-block;
        letter-spacing: 1px;
    }
    .lm {
        background-color: $blue;
        color: $white;
    }
    .gs {
        background-color: $orange;
        color: $white;
        font-size: 2rem;
    }
    .gs-pressed {
        background-color: #D68927;
    }
    .lm-pressed {
        background-color: #2D628E;
    }
    .animcell {
        position: relative;
        
        & > * {
            position: absolute;
            width: 100%;
            opacity: 0;
        }
        & > *:first-child {
            opacity: 1;
        }
    }
}
#tasks {
    .image {
        table {
            max-width: 32rem;
            margin: 0 auto;
        }
        td {
            width: 50%;      
        }
    }
    img {
        width: 10.2rem;
        height: 10.2rem;
        margin: 1rem;
    }
}
#welcome .info {
    height: 12rem;
}
#consent {
    .info {
        line-height: 1.1;
    }
    .help {
        font-size: 1.8rem;
    }
}
#thankyou {
    h3 {
        font-size: 3rem;
    }
    .info {
        font-size: 1.8rem;
        font-weight: bold;
        padding: 0 5rem;
    }
    .sub_info {
        margin-top: 10rem;
        text-align: center;
        font-size: 1.8rem;
    }
}
.flipped {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footerHeight;
    background-color: $blue;
    color: $white;
    
    & > div {
        display: table;
        width: 100%;
        height: $footerHeight;
        
        & > * {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
    
    .animcell {
        & > * {
            opacity: 0;
        }
        & > *:first-child {
            opacity: 1;
        }
    }    
}

/* ANIMATION */

.info.animcell > *, footer .animcell > * {
    transition-property: opacity;
    transition-duration: 1.5s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1.5s;
}

/* And, the device adjustments. */

.desktop .action:after { content: "Click"; }
.mobile .action:after { content: "Tap"; }


/* Older, shorter iPhones, shorten things so page doesn't scroll. */
@media screen and (max-height: 480px) {
    #tasks .image image {
        width: 9.5rem;
        height: 9.5rem;
        margin: .5rem;
    }
}

@media screen and (min-width: 1025px) { /* Desktop */
    /*html { font-size: 14px; }*/
    .header { display: table; }
    header { height: 15rem; }
    article { top: 15rem; }
}
