/* Learn more dialogs */

.learn-more {
    ul {
        padding: 0;
        margin-left: 1.7rem;
    }
    .info-table {
        margin: 10px;
        border: 1px solid silver;
        border-collapse: collapse;
    }
    .info-table tr:nth-child(odd) {
        background-color: #f4f4f4;
    }
    .info-table td {
        padding: 5px 10px;   
    }
}