.carousel_container {
    padding: 1rem 0;
    
    .left_control, .right_control, .panel {
        display: table-cell;
        vertical-align: middle;
    }
    .left_control, .right_control {
        font-size: 7rem;
        padding: 1.5rem;
    }
    .left_control div {
        width: 5rem;
        height: 5rem;
        background: transparent url(../images/meettheresearchers_arrow.svg) center no-repeat;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .right_control div {
        width: 7rem;
        height: 7rem;
        background: transparent url(../images/meettheresearchers_arrow.svg) center no-repeat;
    }
    .panel {
        overflow: hidden;
    }
    .slide_element {
    }
    ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        position: relative;
        display: inline-block;
        img {
            max-width: 30rem;
        }
        div {
            display: table-cell;
            padding: 2rem;
            vertical-align: top;
        }
        h4 {
            font-size: 2rem;
        }
        p {
            font-size: 1.6rem;
        }
    }
    
}
