/* May be off-white eventually; */
/* text shadow */
/* Fixes the boostrap CSS in the Angular version of Bootstrap. */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.modal-footer {
  margin-top: 0; }

.modal {
  overflow-y: auto; }

.modal-open {
  overflow: auto;
  overflow-x: hidden; }

/* This gets around the failure of sm/lg classes to work through the Angular-UI modal
    API. Setting it on the window instead, and forcing the styling here. */
.sm .modal-dialog {
  width: 300px; }

.lg .modal-dialog {
  width: 600px; }

html {
  font-size: 10px; }

@media (max-width: 1023px) {
  html {
    font-size: 8px; } }
@media (min-width: 1240px) {
  html {
    font-size: 12px; } }
.border {
  color: #58585b;
  max-width: 102.4rem;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30rem; }

a, a:hover {
  color: #83b786;
  cursor: pointer; }

.caps {
  font-variant: small-caps; }

.help-text {
  color: #d1d2d4;
  font-weight: normal; }

.field-error {
  color: #a94442; }

/* Login */
form[name='signInForm'] input[name='username'], form[name='signInForm'] input[name='password'] {
  width: 10rem; }

.header {
  display: table;
  width: 100%;
  background-color: white;
  max-width: 102.4rem;
  position: fixed;
  z-index: 11; }
  .header > * {
    display: table-cell;
    height: 7rem;
    vertical-align: middle; }
  .header h1 {
    margin: 0;
    padding: 0;
    font-size: 2.1rem;
    letter-spacing: .1rem;
    padding-left: 8rem;
    font-family: 'Helvetica Neue', sans-serif; }
  .header .auth {
    text-align: right;
    padding-right: 1.2rem;
    color: #a7a9ab;
    font-size: 1.3rem;
    letter-spacing: 1px; }
    .header .auth button {
      margin-left: 1rem; }

nav {
  background-color: #f1f1f2;
  border-top: 2px solid #bbbdc0;
  padding: .6rem 1rem;
  position: fixed;
  width: 100%;
  max-width: 102.4rem;
  top: 7rem;
  z-index: 12;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex; }
  nav > div {
    position: relative;
    display: inline-block;
    border: 1px solid #aaaaaa;
    border-right: none;
    background-color: white;
    padding: .5rem;
    padding-left: 6rem;
    height: 5rem;
    line-height: 1.9rem;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
  nav > div:nth-child(1) {
    background: white url(../images/aboutthestudy_icon.svg) 1rem center no-repeat;
    background-size: 5rem;
    -webkit-border-top-left-radius: .4rem;
    -moz-border-radius-topleft: .4rem;
    border-top-left-radius: .4rem;
    -webkit-border-bottom-left-radius: .4rem;
    -moz-border-radius-bottomleft: .4rem;
    border-bottom-left-radius: .4rem; }
  nav > div:nth-child(2) {
    background: white url(../images/participantstories_icon.svg) 1rem center no-repeat;
    background-size: 4.5rem; }
  nav > div:nth-child(4) {
    background: white url(../images/meettheresearchers_icon.svg) 1rem center no-repeat;
    background-size: 5rem;
    border-left: none !important; }
  nav > div:nth-child(3) {
    /* JOIN */
    padding: 0 2rem;
    text-align: center;
    border: none; }
    nav > div:nth-child(3) a, nav > div:nth-child(3) a:hover {
      border: 1px solid #808284;
      border-radius: .8rem;
      color: white;
      font-size: 1.8rem;
      letter-spacing: .4rem;
      text-shadow: 0 2px rgba(0, 0, 0, 0.3);
      background-color: #81d2ef;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#a6def1), to(#81d2ef));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #a6def1, #81d2ef);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, #a6def1, #81d2ef);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, #a6def1, #81d2ef);
      /* IE10 */
      background-image: -o-linear-gradient(top, #a6def1, #81d2ef);
      /* Opera 11.10+ */
      background-image: linear-gradient(top, #a6def1, #81d2ef);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a6def1', EndColorStr='#81d2ef');
      position: absolute;
      z-index: 10;
      height: 7.8rem;
      line-height: 7.8rem;
      top: -1.5rem;
      left: 0;
      display: block;
      width: 100%;
      font-size: 2.2rem;
      font-weight: bold;
      letter-spacing: .3rem; }
    nav > div:nth-child(3) a:hover {
      text-decoration: underline; }
  nav > div:nth-child(5) {
    background: white url(../images/researchersjournal_icon.svg) 1rem center no-repeat;
    background-size: 4.5rem;
    border-right: 1px solid #aaaaaa;
    -webkit-border-top-right-radius: .4rem;
    -moz-border-radius-topright: .4rem;
    border-top-right-radius: .4rem;
    -webkit-border-bottom-right-radius: .4rem;
    -moz-border-radius-bottomright: .4rem;
    border-bottom-right-radius: .4rem; }
  nav > div.selected {
    background-color: #a7a9ab; }
  nav > div > a, nav > div > a:hover {
    color: #666666;
    display: block;
    font-weight: bold;
    overflow: hidden; }

.splash {
  background-color: peru;
  height: 30rem;
  position: relative;
  top: 12rem; }
  .splash > div {
    position: absolute;
    height: 30rem;
    width: 25.5rem;
    left: 4rem;
    top: 5.8rem;
    color: white; }
    .splash > div div:first-child {
      font-size: 4.5rem;
      line-height: 1.1; }
      .splash > div div:first-child b {
        font-size: 4.9rem; }
    .splash > div div:last-child {
      font-size: 1.7rem; }

section.main {
  background-color: #f1f1f2; }
  section.main.about_the_study h2 {
    background: #a9d385 url(../images/aboutthestudy_icon_white.svg) 1rem center no-repeat;
    background-size: 5.5rem; }
  section.main.participant_stories h2 {
    background: #e086b7 url(../images/participantstories_icon_white.svg) 1.8rem center no-repeat;
    background-size: 5.5rem; }
  section.main.meet_the_researchers h2 {
    background: #efc785 url(../images/meettheresearchers_icon_white.svg) 1.8rem center no-repeat;
    background-size: 5.5rem; }
  section.main.researchers_journal {
    padding-bottom: 2rem; }
    section.main.researchers_journal h2 {
      background: #95c0c9 url(../images/researchersjournal_icon_white.svg) 2rem center no-repeat;
      background-size: 4.5rem; }
  section.main h2 {
    margin: 0;
    color: white;
    font-size: 2.2rem;
    padding: 1.6rem;
    padding-left: 8rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    letter-spacing: 1px; }
  section.main > p {
    font-size: 1.6rem;
    margin: 1.5rem 3rem;
    margin-left: 8rem; }
  section.main > h3 {
    margin-top: 3rem !important;
    font-size: 1.8rem;
    margin: 1.5rem 3rem;
    margin-left: 8rem; }
  section.main > .panels {
    margin: 1.5rem 3rem 0 1.5rem;
    margin-left: 8rem;
    padding-bottom: 2rem;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex; }
    section.main > .panels h4 {
      font-size: 1.4rem;
      padding: 0 .5rem; }
    section.main > .panels .panel {
      border-color: #d1d2d4;
      margin: 0 .5rem;
      -webkit-box-flex: 1;
      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;
      /* OLD - Firefox 19- */
      -webkit-flex: 1;
      /* Chrome */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
      section.main > .panels .panel h4 {
        font-weight: normal;
        padding-top: 9rem;
        height: 13rem;
        margin: 0 .2rem;
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: 1px; }
      section.main > .panels .panel:nth-child(1) h4 {
        background: white url(../images/howitworks_1.svg) center top no-repeat;
        background-size: 10rem; }
      section.main > .panels .panel:nth-child(2) h4 {
        background: white url(../images/howitworks_2.svg) center top no-repeat;
        background-size: 10rem; }
      section.main > .panels .panel:nth-child(3) h4 {
        background: white url(../images/howitworks_3.svg) center top no-repeat;
        background-size: 10rem; }
      section.main > .panels .panel:nth-child(4) h4 {
        background: white url(../images/howitworks_4.svg) center top no-repeat;
        background-size: 10rem; }
      section.main > .panels .panel:nth-child(5) h4 {
        background: white url(../images/howitworks_5.svg) center top no-repeat;
        background-size: 10rem; }
      section.main > .panels .panel p {
        margin: 1rem 1rem .7rem 1rem;
        font-size: 1.4rem;
        line-height: 1.3;
        letter-spacing: 1px; }
    section.main > .panels .panel:first-child {
      margin-left: 0; }
    section.main > .panels .panel:last-child {
      margin-right: 0; }
  section.main.researchers_journal .panel {
    /* Researchers' Journal */
    margin: 1.5rem 8rem 0 1.5rem;
    margin-left: 8rem;
    font-size: 1.6rem; }
    section.main.researchers_journal .panel > div {
      display: table-row; }
      section.main.researchers_journal .panel > div > * {
        padding: 1.5rem;
        display: table-cell;
        vertical-align: top; }
  section.main .comments {
    color: #95c0c9; }
  section.main .more_entries {
    padding-right: 8rem;
    text-align: right; }

.subnav {
  border-bottom: 2px solid #bbbdc0; }
  .subnav > * {
    font-size: 2rem;
    color: #95C0C9; }

.final_subnav {
  background-color: #a9d385;
  color: white;
  font-size: 2.1rem;
  padding: 1.6rem 8rem; }

section.about {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex; }
  section.about:nth-child(even) {
    background-color: #f1f1f2;
    border-top: 2px solid #bbbdc0;
    border-bottom: 2px solid #bbbdc0; }
  section.about > div {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding: 1.5rem 1.5rem 1.5rem 1.5rem; }
    section.about > div img {
      display: block; }
    section.about > div p {
      font-size: 1.8rem; }
    section.about > div .btn {
      border: 1px solid #808284;
      border-radius: .8rem;
      color: white;
      font-size: 1.8rem;
      letter-spacing: .4rem;
      text-shadow: 0 2px rgba(0, 0, 0, 0.3);
      background-color: #81d2ef;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#a6def1), to(#81d2ef));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #a6def1, #81d2ef);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, #a6def1, #81d2ef);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, #a6def1, #81d2ef);
      /* IE10 */
      background-image: -o-linear-gradient(top, #a6def1, #81d2ef);
      /* Opera 11.10+ */
      background-image: linear-gradient(top, #a6def1, #81d2ef);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a6def1', EndColorStr='#81d2ef'); }
    section.about > div h2 {
      margin: 0;
      padding: 0;
      margin-top: 1rem; }
    section.about > div h3 {
      margin: 0;
      margin-bottom: 1.5rem;
      font-size: 2.4rem; }

section.join .btn {
  border: 1px solid #808284;
  border-radius: .8rem;
  color: white;
  font-size: 1.8rem;
  letter-spacing: .4rem;
  text-shadow: 0 2px rgba(0, 0, 0, 0.3);
  background-color: #81d2ef;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a6def1), to(#81d2ef));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #a6def1, #81d2ef);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #a6def1, #81d2ef);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #a6def1, #81d2ef);
  /* IE10 */
  background-image: -o-linear-gradient(top, #a6def1, #81d2ef);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #a6def1, #81d2ef);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a6def1', EndColorStr='#81d2ef'); }

section.joined {
  padding-left: 8rem;
  font-size: 1.8rem; }
  section.joined .well h4 {
    font-size: 2rem; }
  section.joined .well .icon {
    float: left;
    width: 7rem; }
    section.joined .well .icon span {
      font-size: 5rem; }
  section.joined .well .small {
    margin-left: 7rem;
    font-size: 1.4rem; }
  section.joined .well a.btn {
    margin: 0;
    padding: 0;
    margin-right: 1rem; }

footer {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  border-top: 1px solid #d1d2d4;
  padding: 1rem 0; }
  footer .sage_logo {
    width: 23.1rem;
    height: 6rem;
    background: white url(../images/clipart/Sage_Bionetworks_logo.jpg) center left no-repeat;
    background-size: contain;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
  footer .center {
    -webkit-box-flex: 2;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 2;
    /* OLD - Firefox 19- */
    -webkit-flex: 2;
    /* Chrome */
    -ms-flex: 2;
    /* IE 10 */
    flex: 2;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
  footer .rwjf_logo {
    width: 23.1rem;
    height: 6rem;
    background: white url(../images/clipart/rwjf.jpeg) center right no-repeat;
    background-size: contain;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */ }

/* required ui-bootstrap tweak of bootstrap */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }
