nav {
    background-color: $darkBlue;
    color: $white;
    position: fixed;
    top: 7rem;
    z-index: 12;
    display: block;
    width: 100%;
    height: 5rem;
    
    .box {
        height: 5rem;
        max-width: $width;
        margin: 0 auto;
    }
    
    .inner-box {
        @include flexbox;
        
        > div {
            position: relative;
            display: inline-block;
            padding: .5rem;
            padding-left: 6rem;
            height: 5rem;
            line-height: 1.9rem;
            @include flex_1;        
        }
        > div:nth-child(1) {
            background: transparent url(../images/aboutthestudy_icon_white.svg) 1rem center no-repeat;
            background-size: 5rem;
        }
        > div:nth-child(2) {
            background: transparent url(../images/participantstories_icon_white.svg) 1rem center no-repeat;
            background-size: 4.5rem;
        }
        > div:nth-child(4) {
            background: transparent url(../images/meettheresearchers_icon_white.svg) 1rem center no-repeat;
            background-size: 5rem;
        }
        > div:nth-child(3) { /* JOIN */
            padding: 0 2rem;
            text-align: center;
           
            a, a:hover {
                @include joinButton;
                position: absolute;
                z-index: 10;
                height: 5.8rem;
                line-height: 5.8rem;
                top: -.4rem;
                left: 0rem;
                display: block;
                width: 100%;
                font-size: 2.2rem;
                letter-spacing: .3rem;
            }
            a:hover {
                text-decoration: none;
            }
            a.pressed, a:active {
                @include linear-gradient($buttonGradientBottom, $buttonGradientTop);
            }
        }
        > div:nth-child(5) {
            background: transparent url(../images/researchersjournal_icon_white.svg) 1rem center no-repeat;
            background-size: 4.5rem;
        }
        > div.selected {
           background-color: $lightBlue;
        }
        > div > a, > div > a:hover, > div > a:visited {
            color: $white;
            font-size: 1.6rem;
            display: block;
            overflow: hidden;
        }
    }
}
.subnav {
    border-bottom: 2px solid $navBorderColor;
    background-color: $white;

    a, span {
        display: inline-block;
        color: $darkBlue;
        height: 5rem;
        line-height: 5rem;
        padding: 0 1rem;
        font-size: 1.5rem;
    }
}
