@mixin linear-gradient($fromColor, $toColor) {
    background-color: $toColor; /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
    background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
    background-image:         linear-gradient(top, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
@mixin flexbox {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}
@mixin flex_1 {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin flex_2 {
    -webkit-box-flex: 2;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 2;         /* OLD - Firefox 19- */
    -webkit-flex: 2;          /* Chrome */
    -ms-flex: 2;              /* IE 10 */
    flex: 2;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin joinButton {
    color: white;
    font-size: 1.8rem;
    letter-spacing: .4rem;
    @include linear-gradient($buttonGradientTop, $buttonGradientBottom);
}

$width: 102.4rem;
$green: #A9D385;
$orange: #FAAB2B;
$pink: #EF8188;
$lightBlue: #81D2EF;
$blue: #4688C7;
$darkBlue: #1E429B;
$black: #231F20;
$white: #FFFFFF;
$boxBorderColor: #A7A9AB;

$buttonGradientTop: #6696CF;
$buttonGradientBottom: #4588c8;

$linkColor: $green;
$linkActiveColor: $lightBlue;
$linkHoverColor: $orange;
$linkVisitedColor: $green;

/* Older colors, often ones I had to make up */
$navBorderColor: #D1D2D4;
$panelBorderColor: #D1D2D4;

html {
    font-size: 10px;
}
@media (max-width: 1023px) {
  html { font-size: 8px; }
  .bullet { font-size: 12px; }
}
@media (min-width: 1240px) {
  html { font-size: 12px; }
  .bullet { font-size: 16px; }
}
a, a:hover, a:active, a:visited {
    cursor: pointer;
}
a { 
    color: $linkColor; 
}
a.dark {
    color: $darkBlue;
    font-weight: bold;
}
a:hover {
    color: $linkHoverColor;
}
a:active {
    color: $linkActiveColor;
}
a:visited {
    color: $linkVisitedColor;
}
.caps {
    font-variant: small-caps;
}
.inert { /* also include draggable=false on the element itself */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.oldIE {
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    border: red;
    background-color: #B22222;
    color: $white;
    a, a:visited {
        color: lightblue;
    }
}
.help-text {
    color: $boxBorderColor;
    font-weight: normal;
}
.field-error {
    color: rgb(169, 68, 66);
}
/* Login */
form[name='signInForm'] {
    input[name='username'], input[name='password'] {
        width: 10rem;
    }
}
.header {
    background-color: $green;
    height: 7rem;
    position: fixed;
    z-index: 11;
    left: 0;
    right: 0;
    
    .box {
        height: 7rem;
        max-width: $width;
        margin: 0 auto;
    }
    .inner-box {
        display: table;
        width: 100%;
        background: transparent url(/neurod/images/bridge_logo.svg) left center no-repeat;
        background-size: 9rem;
        
        > * {
            display: table-cell;
            height: 7rem;
            vertical-align: middle;
        }
        h1 {
            margin: 0;
            padding: 0;
            color: $white;
            font-size: 1.9rem;
            letter-spacing: .1rem;
            padding-left: 8rem;
            font-family: 'Helvetica Neue', sans-serif;
        }
        .auth {
            text-align: right;
            padding-right: 1.2rem;
            color: $white;
            font-size: 1.1rem;
            letter-spacing: 1px;
            
            button {
                margin-left: 1rem;
            }
        }
    }
}
    
.splash {
    background-color: peru;
    height: 30rem;
    position: relative;
    top: 12rem;
    
    .box {
        margin: 0 auto;
        height: 30rem;
        max-width: $width;
    }
    .inner-box {
        position: relative;
        > div {
            position: absolute;
            height: 30rem;
            width: 25.5rem;
            left: 4rem;
            top: 5.8rem;
            color: white;
            
            div:first-child {
                font-size: 4.5rem;
                line-height: 1.1;
                
                b {
                    font-size:4.9rem;
                }
            }
            div:last-child {
                font-size: 1.7rem;
            }
        }
    }
}
footer {
    border-top: 1px solid $boxBorderColor;
    padding: 1rem 0 20rem 0;
    background-color: $green;
    
    .box {
        max-width: $width;
        margin: 0 auto;
        @include flexbox;
        .sage_logo {
            width: 23.1rem;
            height: 6rem;
            background: transparent url(../images/sage_logo.svg) center left no-repeat;
            background-size: contain;
            @include flex_1;
        }
        .center {
            @include flex_2;
        }
        .rwjf_logo {
            width: 23.1rem;
            height: 6rem;
            background: transparent url(../images/rwjf_logo.svg) center right no-repeat;
            background-size: contain;
            @include flex_1;
        }
    }
}
