section.main {
    &.about_the_study {
        h2 {
            background-color: $lightBlue;
            div {
                background: transparent url(../images/aboutthestudy_icon_white.svg) 1rem center no-repeat;
                background-size: 5.5rem;
            }
        }
    }
    &.participant_stories {
        h2 {
            background-color: $orange;
            div {
                background: transparent url(../images/participantstories_icon_white.svg) 1.8rem center no-repeat;
                background-size: 5.5rem;
            }
        }
    }
    &.meet_the_researchers {
        h2 {
            background-color: $blue;
            div {
                background: transparent url(../images/meettheresearchers_icon_white.svg) 1.8rem center no-repeat;
                background-size: 5.5rem;
            }
        }
    }
    &.researchers_journal {
        padding-bottom: 2rem;
    
        h2 {
            background-color: $pink;
            div {
                background: transparent url(../images/researchersjournal_icon_white.svg) 2rem center no-repeat;
                background-size: 4.5rem;
            }
        }
        .panel {
            margin: 1.5rem 8rem 0 1.5rem;
            margin-left: 8rem;
            font-size: 1.6rem;
            
            > div {
                display: table-row;
                > * {
                    padding: 1.5rem;
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }
    }

    h2 {
        margin: 0;
                
        div {
            padding: 1.6rem;
            padding-left: 8rem;
            max-width: $width;
            margin: 0 auto;
            color: white;
            font-size: 2.2rem;
            letter-spacing: 1px;
        }
    }

    .box {
        max-width: $width;
        margin: 0 auto;
        
        > p {
            font-size: 1.6rem;
            margin: 1.5rem 3rem;
            margin-left: 8rem;
        }
        > h3 {
            margin-top: 3rem ! important;
            font-size: 1.8rem;
            margin: 1.5rem 3rem;
            margin-left: 8rem;
        }
        > .panels {
            margin: 1.5rem 3rem 0 1.5rem;
            margin-left: 8rem;
            padding-bottom: 2rem;
            @include flexbox;
    
            h4 {
                font-size: 1.4rem;
                padding: 0 .5rem;
            }      
    
            .panel {
                border-color: $panelBorderColor;
                margin: 0 .5rem;
                @include flex_1;
                
                h4 {
                    font-weight: normal;
                    padding-top: 9rem;
                    height: 13rem;
                    margin: 0 .2rem;
                    text-align: center;
                    font-size: 1.6rem;
                    letter-spacing: 1px;
                }
                &:nth-child(1) h4 {
                    background: transparent url(../images/howitworks_1.svg) center top no-repeat;
                    background-size: 10rem;
                }
                &:nth-child(2) h4 {
                    background: transparent url(../images/howitworks_2.svg) center top no-repeat;
                    background-size: 10rem;
                }
                &:nth-child(3) h4 {
                    background: transparent url(../images/howitworks_3.svg) center top no-repeat;
                    background-size: 10rem;
                }
                &:nth-child(4) h4 {
                    background: transparent url(../images/howitworks_4.svg) center top no-repeat;
                    background-size: 10rem;
                }
                &:nth-child(5) h4 {
                    background: transparent url(../images/howitworks_5.svg) center top no-repeat;
                    background-size: 10rem;
                }
                p {
                    margin: 1rem 1rem .7rem 1rem;
                    font-size: 1.4rem;
                    line-height: 1.3;
                    letter-spacing: 1px;
                }
            }
            .panel:first-child {
                margin-left: 0;
            }
            .panel:last-child {
                margin-right: 0;
            }
        }
        .more_entries {
            padding-right: 8rem;
            text-align: right;
        }
    }
}
