section.join {
    h2 {
        margin: 0;
        background-color: $lightBlue;
        div {
            padding: 1.6rem;
            max-width: $width;
            margin: 0 auto;
            color: white;
            font-size: 2.2rem;
            letter-spacing: 1px;
        }
    }
    .box {
        background: transparent url(../images/eligible_checkmark.svg) 0% 0% no-repeat;
        background-size: 10rem;
        max-width: $width;
        margin: 0 auto;
        
        table {
            margin-bottom: 2rem;
        }
        table td {
            vertical-align: top;
        }
        table td:first-child {
            padding-right: 1rem;
            padding-bottom: .75rem;
        }
        .bullet {
            display: inline-block; 
            width: 2rem; 
            height: 2rem;
            text-align: center; 
            border-radius: 50%; 
            background-color: $orange; 
            color: $white;
        }
    }
    .btn {
        @include joinButton;
        font-size: 1.4rem;
    }
    .btn.pressed {
        @include linear-gradient($buttonGradientTop, $buttonGradientBottom);
    }
}
