.classpath
.project
.settings
.history
target/native_libraries 
target/resolution-cache
target/scala-2.10
target/streams
target/universal/stage/share/doc
target/universal/tmp
application.log
node_modules
bower_components
.sass-cache
.target
