<ul>
    <li ng-repeat="tracker in trackers.payload">
        <a ng-href="/#/health/tracker/{{tracker.type}}">{{tracker.name}}</a>
    </li>
</ul>

<input type="number" name="systolic" ng-model="record.data.systolic"/>
<input type="number" name="diastolic" ng-model="record.data.diastolic"/>
<input type="date" name="startDate" ng-model="record.startDate"/>
<input type="hidden" name="recordId" ng-model="record.recordId"/>

<button class="btn btn-default" ng-click="create()">Add Record</button>
<button class="btn btn-default" ng-click="update()">Update Record</button>

<table>
    <tr ng-repeat="record in records">
        <td>
            <a ng-click="remove(record)">Delete</a> &bull; 
            <a ng-click="edit(record)">Edit</a> &bull;
            <a ng-click="load(record)">Load</a> 
        </td>
        <td style="padding: .25rem 3rem">{{record.startDate | date}}</td>
        <td style="padding: .25rem 3rem">{{record.data.systolic}}</td>
        <td style="padding: .25rem 3rem">{{record.data.diastolic}}</td>
    </tr>
</table>
