<form name="$parent.resetPasswordForm" style="width: 300px" bg-compare="password,passwordConfirm" novalidate>
    <div class="form-group" ng-class="hasErrors(resetPasswordForm['password'])">
        <label>New Password</label>
        <input tabindex="1" class="form-control" placeholder="Password" type="password" 
            name="password" required ng-model="password"/>
        <p class="field-error" ng-show="hasFieldError(resetPasswordForm['password'], 'required')">This field is required.</p>
    </div>
    <div class="form-group" ng-class="hasErrors(resetPasswordForm['passwordConfirm'])">
        <label>Confirm New Password</label>
        <input tabindex="2" class="form-control" placeholder="Confirm Password" type="password" 
            name="passwordConfirm" required ng-model="passwordConfirm"/>
        <p class="field-error" ng-show="hasFieldError(resetPasswordForm['passwordConfirm'], 'required')">This field is required.</p>
    </div>
    <p class="field-error" ng-show="hasFieldError(resetPasswordForm, 'equal')">Passwords do not match.</p>
    <div class="form-group">
        <button tabindex="3" ng-disabled="!canSubmit()" class="btn btn-primary" ng-click="submit()">Reset Password</button>
    </div>
</form> 
