<form>
	<div class="modal-header">
	    <button type="button" class="close" ng-click="cancel()">&times;</button>
	    <h4 id="resetPasswordDialog" class="modal-title">Reset Password</h4>
	</div>
	<div class="modal-body">
	    <div class="form-group">
	        <label>Your email</label>
	        <input type="email" ng-model="credentials.email" class="form-control" placeholder="yourname@host.com"/>
	        <span class="help-block">We will email you with a link you can follow to change your password. </span>
	        <div ng-show="message" class="text-danger alert-{{messageType}}">{{message}}</div>
	    </div>
	</div>
	<div class="modal-footer" ng-show="state == 'pre'">
	    <button id="sendAct" class="btn btn-primary" ng-disabled="!canSubmit()" ng-click="send()">Send</button>
	    <button id="cancelAct" class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
    <div class="modal-footer" ng-show="state == 'post'">
        <button class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
</form>
