* {
	box-sizing: border-box;
}
body {
	background-color: #F9F9F9;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.logo_box {
	width: 20%; max-width: 150px; margin: 40px auto;
}
#logo {
	width: 100%;
}
.form_box {
	width: 70%; max-width: 300px; margin: 0px auto;
}
.message {
	text-align: center;
	margin: 10px 0;
}
#m1 {
	font-size: 12pt;
}
#m2 {
	font-size: 10pt;
	color: #bbb;
}
.warn {
	background-color: rgb(242, 222, 222);
	border: 1px solid rgb(235, 204, 209);
	border-radius: 4px;
	color: rgb(169, 68, 66);
	font-size: 14px;
	line-height: 20px;
	padding: 10px;
}
.success {
	background-color: rgb(223, 240, 216);
	border: 1px solid rgb(214, 233, 198);
	border-radius: 4px;
	color: rgb(60, 118, 61);
	font-size: 14px;
	line-height: 20px;
	padding: 10px;
}
#errorMessage {
	display: none;
}