<nav role="navigation" class="subnav">
    <div class="box">
        <div class="inner-box">
            <a href="#/">Home</a>
            <span> &gt; </span>
            <span>Learn more</span>
        </div>
    </div>
</nav>
<!-- Why does this work? I don't even know. -->
<div class="splash" style="height:.1px; margin-bottom: 12rem"></div>
<section class="about new_way">
    <h2><div>A new way to conduct research</div></h2>
    <div class="box">
        <div>
    	    <p>At Sage Bionetworks, we believe that to make groundbreaking new medical discoveries 
    	    we must transform the way research is conducted, drawing on the wisdom and insights 
    	    of the people most familiar with the disease&mdash;patients and their families.</p>
    	    
    	    <a href="#/join" class="btn">JOIN THE STUDY</a>
        </div>
        <div>
            <img src="neurod/images/about_detail_1.svg"/>
        </div>
    </div>
</section>
<section class="about empowering_you">
    <h2><div>EMPOWERING YOU with new tools and technologies</div></h2>
    <div class="box">
        <div>
            <img src="neurod/images/about_detail_2.svg"/>
        </div>
        <div>
            
            <p>Participants will be able to use <span class="caps">Bridge</span>&rsquo;s consent tools and data portal 
            to contribute their health data into open research projects such as those 
            that Sage Bionetworks is enabling with its Synapse data repository and 
            collaborative work space.</p>
            
            <a href="#/join" class="btn">GET THE TOOLS</a>
        </div>
    </div>
</section>
<section class="about bridging_the_gap">
    <h2><div>BRIDGING THE GAP between patients and researchers</div></h2>
    <div class="box">
        <div>
            <p><a class="dark" href="http://sagebase.org/" target="_blank">Sage Bionetworks,</a>
             with support from the 
             <a class="dark" href="http://www.rwjf.org/" target="_blank">Robert Wood Johnson Foundation&rsquo;s Pioneer Portfolio</a> 
             created <span class="caps">Bridge</span>, a web-based, open-source platform that 
            allows you to provide your data and insights as research partners on the 
            health problems that matter most to you.</p>
            
            <p>With <span class="caps">Bridge</span>, patients and researchers will be able to use online tools 
            that connect people, their data and their stories to build communities 
            focused on defining the research questions that matters most to patients 
            and their families. The insights researchers gain from the data collected 
            through <span class="caps">Bridge</span> will then be reported back on to the patients on 
            <span class="caps">Bridge</span>, driving new rounds of research collaborations.</p>
            
            <a href="#/join" class="btn">BECOME A RESEARCH PARTNER</a>
        </div>
        <div>
            <img src="neurod/images/about_detail_3.svg"/>
        </div>
    </div>
</section>
