<!-- Why does this work? I don't even know. -->
<div class="splash" style="height:.1px; margin-bottom: 7rem"></div>
<section class="joined">
    <h2><div>Almost Done!</div></h2>
    <div class="box">
        <p>Here are a few options to help you get started.</p>
        
        <div class="well">
            <h4>Verify your email</h4>
            <div class="icon email"></div>
            <p>We just sent an email to {{email}}.</p>
            <p>Click on the link in that email to verify your email address.</p>
            <p class="small">If you don’t receive the email, check your spam folder or 
                <a class="dark" href="#/join">click here</a> to send a new one.</p>
        </div>
        
        <div class="well">
            <h4>Download the app</h4>
            <div class="icon phone"></div>
            <p>Choose one of the options below to download the app that accompanies the study.</p>
            
            <p>
                <a class="btn appstore ios" href="">Download the<br>app for iPhone</a>
                <a class="btn appstore android" href="">Download the<br>app for Android</a>
            </p>
        </div>
    </div>
</section>
