<nav role="navigation" class="subnav">
    <div class="box">
        <div class="inner-box">
            <a href="#/">Home</a>
            <span> &gt; </span>
            <span>Become a research partner!</span>
        </div>
    </div>
</nav>
<div class="splash" style="height:.1px; margin-bottom: 12rem"></div>
<section class="join" id="joinPage">
    <h2><div>Become a research partner!</div></h2>
    <div class="box">
        <div class="row">
            <div class="col-sm-7" style="padding: 2rem 2rem 2rem 10rem">
                <form name="signUpForm" bg-compare="password,passwordConfirm" novalidate>
                    <p>Are you eligible? You must:<br>
                    1. Be over 17 years old<br>
                    2. Have an iPhone or Android phone with a data plan<br>
                    3. Be willing to participate in tasks and surveys for 20 minutes per week</p>
                    
                    <p>All fields required</p>
                    
                    <div class="form-group">
                        <label>Username <span class="help-text">(This will be public)</span></label>
                        <input type="text" name="username" required ng-model="username" class="form-control" 
                           placeholder="Enter a username" bg-focus="true"/>
                       <p id="usernameRequiredError" class="field-error" ng-show="hasFieldError(signUpForm['username'], 'required')">Username is required.</p>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" required ng-model="email" class="form-control" 
                           placeholder="Enter your email address"/>
                        <p id="emailEmailError" class="field-error" ng-show="hasFieldError(signUpForm['email'], 'email')">Is this a valid email address?</p>
                        <p id="emailRequiredError" class="field-error" ng-show="hasFieldError(signUpForm['email'], 'required')">An email address is required.</p>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" required ng-model="password" class="form-control" 
                           placeholder="Enter a password" style="margin-bottom: 1rem"/>
                        <input type="password" name="passwordConfirm" required ng-model="passwordConfirm" class="form-control" 
                           placeholder="Re-enter your password"/>
                        <p id="passwordConfirmEqualError" class="field-error" ng-show="hasFieldError(signUpForm, 'equal')">Passwords do not match.</p>
                    </div>
                    <p id="joinMessage" ng-show="message" class="text-danger">{{message}}</p>
                    <p><button id="joinAct" bg-pressable="" class="btn" ng-disabled="!canSubmit()" ng-click="join()">JOIN</button></p>
                </form>
            </div>
            <div class="col-sm-5" style="padding: 2rem 4rem 2rem 2rem">
                <div class="well">
                    <p>How it works:</p>
                    
                    <table>
                        <tr><td><span class="bullet">1</span></td><td>Sign up using the form on the left</td></tr>
                        <tr><td><span class="bullet">2</span></td><td>Download the mobile app</td></tr>
                        <tr><td><span class="bullet">3</span></td><td>Fill out surveys and perform simple tasks</td></tr>
                        <tr><td><span class="bullet">4</span></td><td>Track your health with your Health Dashboard</td></tr>
                        <tr><td><span class="bullet">5</span></td><td>Scientific researchers make discoveries</td></tr>
                        <tr><td><span class="bullet">6</span></td><td>You are informed of the study results.</td></tr>
                    </table>
                    
                    <p><a class="dark" href="#/">Learn more</a></p>
                    <p>Questions? Email:<br><a class="dark" href="mailto:PDstudy@sagebase.org">PDstudy@sagebase.org</a></p>
                </div>
            </div>
        </div>
    </div>
</section>