html {
    background-image: -moz-linear-gradient(45deg, #cbb359, #438fad);
    background-image: -webkit-linear-gradient(45deg, #cbb359, #438fad);
    background-image: -o-linear-gradient(45deg, #cbb359, #438fad);
    background-image: linear-gradient(45deg, #cbb359, #438fad);
}
body {
    background-color: none;
}
.outer-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/gplaypattern_alpha.png);
    overflow: auto;
}
.jumbotron { 
    border: 1px solid #3D92C6;
    max-width: 600px; 
    margin: 0 auto;
}
.view-holder {
    width: 100%; 
    height: 100%; 
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.field-error {
    font-size: 16px ! important;
    font-weight: bold ! important;
    color: rgb(169, 68, 66) ! important;
}
