<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">What will we do with the data?</h4>
</div>
<div class="modal-body learn-more">
    <p>We will combine your study data including survey response and tasks 
    measurements with those of other study participants. The combined data 
    will be transferred to Synapse, a computational research platform, 
    where it ￼will be accessible to researchers who have obtained ethical 
    approval to use the PD Study data to develop insights.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">OK</a>
</div>
