<div id="consentDialog" class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Study Information and Consent to Research</h4>
</div>
<div class="modal-body learn-more">

<h3>Summary</h3>

<p>You are invited to participate in a research study to understand variations in symptoms of Parkinson&#8217;s disease. This study is designed for persons over 18 years old with or without PD. Your participation in this study is entirely voluntary.

<p>To be in a research study you must give your informed consent. The purpose of this form is to help you decide if you want to participate in this study. Please read the information carefully. If you decide to take part in this research study, you will be given a copy of this signed and dated consent form. If you decide to participate, you are free to withdraw your consent, and to discontinue participation at any time.

<p>You should not join the research study until all of your questions are answered.

<p>Participating in a research study is not the same as receiving medical care. The decision to join or not join the research study will not affect your medical benefits.

<h3>Purpose of the Study</h3>

<p>People with Parkinson&#8217;s disease can have very different and more or less severe symptoms day to day. This affects quality of life and makes managing treatment difficult. We would like to understand the causes of these symptom variations.

<p>New technologies allow people to record and track their health and symptoms in real time. This study is proposing to monitor individual&#8217;s health and symptoms using a mobile phone application.

<p>If you decide to join the study you will need to download the study application on you mobile device. Then periodically we will ask you to answer questions and perform some tasks via your mobile phone. These tasks may include questions about your health, exercise, medicines, and other surveys, as well as some brief activities that you perform while holding your phone. Your study data will include your responses to surveys and the measurements from the phone itself when you perform a task like your speed or balance.

<p>Your data, without your name, will be added to the data from other study participants and made available to groups of researchers for analysis. You also will have a unique account to review your data through the study website.

<h3>Procedures</h3>

<p><b>What will you be asked to do?</b></p>
<ul>
 <li><b>Download a mobile app (free) and register an account:</b> You need to have the PDMS app on your phone in order to participate in this study. Everyone who enrolls will first complete an electronic registration process. The registration process can be done through the PD-App or the PD-Web portal. Registration will include entering your email address and other general information about you. As part of this process you will also confirm your agreement to participate in the study.</li>
 <li><b>Health Surveys:</b> We will ask you to answer questions about yourself, your medical history, and current health. You may choose to leave any questions you do not wish to answer blank.</li>
 <li><b>Tasks:</b> We will ask you to perform specific tasks while holding or using your mobile phone. Examples of such tasks are:
 <ul>
 <li>to record variations in your voice by saying &#8220;aaah&#8221; for 10-20 seconds into the microphone.</li>
 <li>to hold your phone, walk 20 steps forward then 20 steps backward to assess your posture and stability.</li>
 <li>to tap on the phone screen in a specific way to test your reaction time and dexterity.</li>
 </ul>
 </li>
</ul>

<p>These tasks should take you about 20 minutes each week. You have the right to refuse to answer particular questions or participate in particular aspects of the study.

<p>We will send notices on your phone asking you to complete these tasks and surveys. You may choose to act at your convenience, either then or later and you may choose to participate in all or only in some parts of the study.

<p><b>What we will and will not do with the data</b></p>
<ul>
 <li><b>De-identification:</b> In order to preserve your privacy, you will use a random code instead of your name on all your study data. This unique code cannot be used to directly re-identify you. Any data that directly identifies you will be removed before the data is transferred for analysis, although researchers will have the ability to contact you if you have chosen to allow them to do so.
 <li><b>Use in research:</b> We will combine your study data including survey response and tasks measurements with those of other study participants. The combined data will be transferred to Synapse, a computational research platform, where it will be accessible to researchers who have obtained ethical approval to use the PD Study data to develop insights.
</ul>

<p>We will NOT access your personal contacts, other applications, phone usage habits, text message content, or websites visited.

<h3>Risks, Discomforts, and Inconveniences</h3>

<p>There are risks, discomforts, and inconveniences associated with any research study. These deserve careful thought.

<p>This is an observation study not a treatment study and we do not expect any medical side effects from participating.

<p>Inconveniences associated with participation include spending approximately 20 minutes per week to respond to notifications from the study application.

<p>Some survey questions may make you feel uncomfortable. Know that the information you provide is entirely up to you and you are free to keep questions blanked.

<p>Other people may glimpse the study notifications and/or reminders on your phone and realize you are enrolled in this study. This can make some people feel self-conscious.

<p>Be safe&mdash;just as you would not text while driving, do not fulfill study tasks while driving. Wait until you are in a safe place to perform tasks!

<p>You may have concerns about data security, privacy and confidentiality. We take great care to protect your information, however there is a slight risk of loss of confidentiality. This is a low risk because we separate your personal information (information that can <u>directly</u> identify you, such as your name or phone number) from the research data to respect your privacy. However, even with removal of this information, it is sometimes possible to re-identify an individual given enough cross-reference information about him or her. This risk, while very low, should still be contemplated prior to enrolling.

<p>Data collected in this study will count against your existing mobile data plan. You may configure the application to only use WiFi connections to limit impact on your data plan. You may respond to the surveys via the web portal instead of via your mobile phone but all the tasks must be completed using your mobile phone.

<p>Participation in this study may involve risks that are not known at this time.

<p>You will be told about any new information that might change your decision to be in this study.

<h3>Potential Benefits</h3>

<p>The goal of this study is to create knowledge, which benefits us as a society. The benefits are thus primarily the creation of insights to help current and future patients with PD better detect, understand and manage their health. We will work to return the insights to you by sending notifications to the mobile application for the study as those insights are validated. But these insights may not be of direct benefit to you. We cannot, and thus we do not, guarantee or promise that you will personally receive any direct benefits from this study. However you will be able to track your health and export your data at will to share with your medical doctor and anyone you choose.

<h3>Costs</h3>

<p>There is no cost to you for participating in this study other than to your mobile data plan if applicable.

<h3>Alternatives</h3>

<p>Since no medical treatments are provided during this study there are no alternative therapies. The only alternative is to not participate.

<h3>Authorization to Use and Disclose Information for Research Purposes</h3>

<p>Because information about you and your health is personal and private, it generally cannot be used in a research study without your written authorization. If you sign this consent form, you will provide that authorization. You do not have to sign this form. But if you do not, you will not be able to participate in this research study.

<p><b>What personal information will be used or disclosed?</b><br>
Your personal health information related to this study may be used or disclosed in connection with this research study, including, but not limited to your body height, weight, gender, age, ethnicity/race, health history, answers to study questions, and health information that may be discernable from your mobile phone&#8217;s sensors. Your account information, study data and signed consent form may also be looked at and/or copied for regulatory and quality assurance.</p>

<p><b>Who may use and disclose my data?</b><br>
The study sponsor, investigators, study coordinators and study staff may use and disclose your personal information to do the research described above or as required by law.</p>

<p><b>Who May Receive or Use the Information?</b><br>
The parties listed in the preceding paragraph may disclose your health information as required by law to:</p>

<ul>
 <li>The US National Institute of health, National Cancer Institute, Office for Human Research Protection, and other agencies as required,</li>
 <li>Governmental agencies in other countries,</li>
 <li>Western Institutional Review Board&reg; (WIRB&reg;) or other Institutional Review Board who watch over the safety, effectiveness and conduct of the research,</li>
 <li>Others, if the law requires</li>
</ul>

<p>We will not use your personal information in any reports about this study such as scientific publications or presentations.

<p>When will my authorization expire? Your authorization for the use and/or disclosure of your health information will expire December 31, 2060.

<h3>Confidentiality</h3>

<p>We are committed to protect your privacy. Your identity will be kept as confidential as possible. Except as required by law, you will not be identified by name or by any other direct personal identifier.

<p>To protect your privacy we will use a random code number instead of your name on all your data collected, analyzed, aggregated and released to researchers. Information about the code will be kept in a secure system. Researchers will have access to all the data collected in the study, but will be unable to map any particular data to the identities of the participants.

<p>The results of this research study may be presented at scientific or medical meetings or published in scientific journals. However, your identity will not be disclosed. Patient information may be provided to Federal and other regulatory agencies as required. The Food and Drug Administration (FDA), for example, may inspect research records and learn your identity if this study falls within its jurisdiction.

<p>This study anticipates that your de-identified data will be placed in a &#8220;repository&#8221;&mdash;an online database&mdash;where qualified researchers can access it. It will be used both to study Parkinson&#8217;s disease and to form part of large, computational studies that go beyond PD. There is always a risk that the database can be breached by hackers, or that experts in re-identification may attempt to reverse our processes.

<p>Total confidentiality cannot be guaranteed.

<h3>Compensation for Injury</h3>

<p>THIS STUDY DOES NOT PROVIDE ANY COMPENSATION, HEALTH OR MEDICAL CARE TO PARTICIPANTS.</p>

<p>If you are injured as a direct result of your participation in this study, the Principal Investigator and the research study staff will assist you in obtaining appropriate medical treatment. Your medical insurance, managed care plan, or other benefits program will be billed for this treatment. You will be responsible for any associated co-payments or deductibles as required by your insurance.

<p>If costs of care related to such an injury are not covered by your medical insurance, managed care plan or other benefits program, you may be responsible for these costs. The sponsor will not routinely pay charges that your insurance does not cover. No payment is routinely available from the study sponsor.

<h3>Voluntary Participation and Withdrawal</h3>

<p>Your participation in this study is voluntary. You do not have to sign this consent form. But if you do not, you will not be able to participate in this research study.

<p>You may decide not to participate or you may leave the study at any time. Your decision will not result in any penalty or loss of benefits to which you are entitled.

<ul>
 <li>You should not feel obligated to agree to participate.</li>
 <li>Your questions should be answered clearly and to your satisfaction.</li>
 <li>You have a right to download or transfer a copy of all of your data.</li>
 <li>By agreeing to participate you do not waive any of your legal rights.</li>
</ul>

<p>To withdraw from this study please contact the Study Principal Investigator Dr. Stephen Friend by email <a href="mailto:PDstudy@sagebase.org">PDstudy@sagebase.org</a> or call Sage Bionetworks <a href="tel:12066672102">+1 206-667-2102</a>.

<p>If you withdraw from the study, we will stop collecting new data and delete your data from the research servers, but some copies of your data that have already been distributed to qualified researchers will not be able to be destroyed or deleted.

<p>The Study Director or the sponsor may also withdraw you from the study without your consent at any time for any reason, including if it is in your best interest, you do not consent to continue in the study after being told of changes in the research that may affect you, or if the study is cancelled.

Source of Funding for the Study</h3>

<p>The sponsor is Sage Bionetworks: &lt;<a href="http://sagebase.org/">http://sagebase.org/<a/>&gt;

<h3>Questions</h3>

<p>Contact Dr. Stephen Friend by email <a href="mailto:PDstudy@sagebase.org">PDstudy@sagebase.org</a> or call Sage Bionetworks <a href="tel:12066672102">+1 206-667-2102</a> for any of the following reasons:

<ul>
 <li>If you have any questions about this study or your part in it, or</li>
 <li>If you have questions, concerns or complaints about the research</li>
</ul>

<p>If you have questions about your rights as a research participant or if you have questions, concerns, input, or complaints about the research, you may contact:

<p style="margin-left: 2em">
    Western Institutional Review Board&reg; (WIRB&reg;)<br>
    1019 39th Avenue SE Suite 120<br>
    Puyallup, WA 98374-2115<br>
    Telephone: <a href="tel:18005624789">1-800-562-4789</a> or <a href="tel:13602522500">360-252-2500</a><br>
    E-mail: <a href="mailto:Help@wirb.com">Help@wirb.com</a>.
</p>

<p>WIRB is a group of people who independently review research.

<p>WIRB will not be able to answer some study-specific questions, such as questions about appointment times. However, you may contact WIRB if the research staff cannot be reached or if you wish to talk to someone other than the research staff.

<h3>Use of Data for Future Research</h3>

<p>Several databases are available to help researchers understand different diseases. These databases contain information and other data helpful to study diseases. As part of this study will include your research data into one such database, Synapse, to use in research for this study about Parkinson&#8217;s disease and beyond. Your data may benefit future research.

<p>All your personal information will be removed. Your name, e-mail, etc, will not be in the database. Your unique code identifier will be used in place of your name when your data is released onto Synapse. The data will be made available to selected researchers who have agreed to specific terms and conditions including using the data in an ethical manner, to do no harm and not attempt to re-identify or re-contact you unless you have chosen to allow them to do so.

<p>Although you can withdraw from the study at any time, you cannot withdraw the de-identified data that have already been distributed through research databases.

<p>The main risk of donating your de-identified data to a centralized database is the potential loss of privacy and confidentiality in case of public disclosure due to unintended data breaches, including hacking or other activities outside of the procedures authorized by the study. In such a case, your data may be misused or used for unauthorized purposes by someone sufficiently skilled in data analysis to try to re-identify you. This risk is low.

<h3>Contact Information</h3>

<p>If you have any questions, concerns or complaints about this research study, its procedures, risks and benefits, or alternative courses of treatment, you should ask <a href="mailto:PDStudy@sagebase.org">PDStudy@sagebase.org</a>. 

<p>You should also contact us at any time if you feel you have been hurt by being a part of this study.

<p>Independent Contact: If you are not satisfied with how this study is being conducted, or if you have any concerns, complaints, or general questions about the research or your rights as a participant, please contact the Western Institutional Review Board (WIRB) to speak to someone independent of the research team.

<h3>Consent</h3>

<p>I have read about this research study (or it has been read to me). All my questions about the study and my part in it have been answered. I freely consent to be in this research study and I authorize the use and disclosure of my unnamed, coded data in electronic database(s) for use in research.

<p>By signing this consent form I have not given up any of my legal rights.

<p>YOUR SIGNATURE INDICATES THAT YOU HAVE READ AND UNDERSTAND THE ABOVE INFORMATION AND THAT YOU HAVE DECIDED TO PARTICIPATE BASED ON THE INFORMATION PROVIDED. A COPY OF THIS FORM WILL BE EMAILED TO YOU.

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">OK</a>
</div>
