<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">What will we do with the data?</h4>
</div>
<div class="modal-body learn-more">
    <p>Your data, without your name, will be added to the data from other study 
    participants and made available to groups of researchers for analysis. 
    You also will have a unique account to review your data through the study website.</p>
    
    <p>In order to preserve your privacy, you will use a random code instead of 
    your name on all your study data. This unique code cannot be used to directly 
    re-identify you. Any data that directly identifies you will be removed before 
    the data is transferred for analysis, although researchers will have the ability 
    to contact you if you have chosen to allow them to do so.</p>
    
    <p>We will NOT access your personal contacts, other applications, phone usage 
    habits, text message content, or websites visited.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">OK</a>
</div>
