<div id="riskDialog" class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Risks, Discomforts, and Inconveniences</h4>
</div>
<div class="modal-body learn-more">
    <p>There are risks, discomforts, and inconveniences associated with 
    any research study. These deserve careful thought.</p>
    
    <p>This is an observation study not a treatment study and we do not 
    expect any medical side effects from participating.</p>
    
    <p>Inconveniences associated with participation include spending 
    approximately 20 minutes per week to respond to notifications from 
    the study application.</p>
    
    <p>Some survey questions may make you feel uncomfortable. Know that 
    the information you provide is entirely up to you and you are free 
    to keep questions blanked.</p>
    
    <p>Other people may glimpse the study notifications and/or reminders 
    on your phone and realize you are enrolled in this study. This can 
    make some people feel self-conscious.</p>
    
    <p>Be safe – just as you would not text while driving, do not fulfill 
    study tasks while driving. Wait until you are in a safe place to 
    perform tasks!</p>
    
    <p>You may have concerns about data security, privacy and 
    confidentiality. We take great care to protect your information, 
    however there is a slight risk of loss of confidentiality. This is 
    a low risk because we separate your personal information (information 
    that can directly identify you, such as your name or phone number) 
    from the research data to respect your privacy. However, even with 
    removal of this information, it is sometimes possible to re-identify 
    an individual given enough cross-reference information about him or 
    her. This risk, while very low, should still be contemplated prior 
    to enrolling.</p>
    
    <p>Data collected in this study will count against your existing 
    mobile data plan. You may configure the application to only use WiFi 
    connections to limit impact on your data plan. You may respond to 
    the surveys via the web portal instead of via your mobile phone but 
    all the tasks must be completed using your mobile phone.</p>
    
    <p>Participation in this study may involve risks that are not known 
    at this time.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">OK</a>
</div>
