<div id="sensorsDialog" class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">What will you be asked to do?</h4>
</div>
<div class="modal-body learn-more">
 <p> We will ask you to perform specific tasks while holding or using your mobile phone. Examples of such tasks are:</p>
 <ul>
 <li>to record variations in your voice by saying &#8220;aaah&#8221; for 10-20 seconds into the microphone.</li>
 <li>to hold your phone, walk 20 steps forward then 20 steps backward to assess your posture and stability.</li>
 <li>to tap on the phone screen in a specific way to test your reaction time and dexterity.</li>
 </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">OK</a>
</div>
