<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">What will you be asked to do?</h4>
</div>
<div class="modal-body learn-more">
    <ul>
        <li><b>Download a mobile app (free) and register an account: </b>You 
        need to have the PDMS app on your phone in order to participate in 
        this study. Everyone who enrolls will first complete an electronic 
        registration process. The registration process can be done through 
        the PD-App or the PD-Web portal. Registration will include entering 
        your email address and other general information about you. As part 
        of this process you will also confirm your agreement to participate 
        in the study.</li>
        
        <li><b>Health Surveys: </b>We will ask you to answer questions about 
        yourself, your medical history, and current health. You may choose 
        to leave any questions you do not wish to answer blank.</li>
        
        <li><b>Tasks: </b>We will ask you to perform specific tasks while 
        holding or using your mobile phone. Examples of such tasks are:
            <ul>
                <li>to record variations in your voice by saying “aaah” for 
                10-20 seconds into the microphone</li>
                
                <li>to hold your phone, walk 20 steps forward then 20 steps 
                backward to assess your posture and stability.</li>
                
                <li>to tap on the phone screen in a specific way to test 
                your reaction time and dexterity</li>
            </ul>
        </li>
    </ul>
    
    <p>These tasks should take you about 20 minutes each week. You have the 
    right to refuse to answer particular questions or participate in particular 
    aspects of the study.</p>
    
    <p>We will send notices on your phone asking you to complete these tasks 
    and surveys. You may choose to act at your convenience, either then or 
    later and you may choose to participate in all or only in some parts of 
    the study.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">OK</a>
</div>
