@(auth: String, assetsHost: String, assetsBuild: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Bridge Evaluation Study - Sage Bionetworks</title>
    <meta name="viewport" content="width=device-width" />
    <script>
        window._session = @Html(auth);
        window.assetsHost = "@assetsHost";
    </script>
    <link rel="stylesheet" href="//@assetsHost/shared/build/@assetsBuild/bridge-shared.min.css" />
    <link rel="stylesheet" href="//@assetsHost/test/css/test.css" />
</head>
<body>
    <div class="outer-body">
        <div class="inner-body" ng-app="test" ng-controller="MainController">
            <div class="view-holder" ng-view></div>
        </div>
    </div>
    <script src="//@assetsHost/shared/build/@assetsBuild/bridge-shared.js"></script>
    <script src="//@assetsHost/test/src/test.js"></script>
</body>
</html>
