@(auth: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Bridge Evaluation Study - Sage Bionetworks</title>
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <script>window._session = @Html(auth);</script>
    <link rel="stylesheet" href="../shared/build/bridge-shared.min.aabcc93c.css" />
    <link rel="stylesheet" href="../test/css/test.css" />
</head>
<body>
    <div class="outer-body">
        <div class="inner-body" ng-app="test" ng-controller="MainController">
            <div class="view-holder" ng-view></div>
        </div>
    </div>
    <script src="shared/build/bridge-shared.min.35def929.js"></script>
    <script src="test/src/test.js"></script>
</body>
</html>
