@(auth: String)<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Consent to Participate in Bridge - Sage Bionetworks</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui" />
    <base href="/"/>
    <script>window._session = @Html(auth);</script>
    <link rel="stylesheet" href="../shared/build/bridge-shared.css" />
    <link rel="stylesheet" href="consent/build/consent.css" />
</head>
<body ng-app="consent" ng-controller="ConsentController">

<table id="loading" width="100%" height="100%"><tr><td style="text-align:center;vertical-align:middle">Loading&hellip;<td></td></table>

<div id="content">

<div id="welcome" ng-show="step == 'welcome'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth">
                <span ng-bind="session.username"></span>
                <button id="signOutLink" class="btn btn-default" ng-show="session.sessionToken" ng-click="signOut()">Sign Out</button>
            </div>
        </div>
        <div class="hdr"><div>Welcome</div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info">
	        <p class="bold">
	            This 9-step walkthrough will explain the study and the impact it will have on your life.
	        </p>
	        <p>
	            You must complete the walkthrough and give your consent to participate in the study.
	        </p>
        </div>
        <div class="more_info">
	        <a ng-click="nextStep()" bg-pressable="gs-pressed" class="gs button">Get started</a>
        </div>
    </article>
    <footer><div><!-- blank --></div></footer>
</div>

<div id="tasks" ng-show="step == 'tasks'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth"></div>
        </div>
        <div class="hdr"><div>What&#8217;s involved:<br>Tasks and surveys</div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info">
	        <p class="bold">
	            This study will ask you to answer questions and perform tasks.
	        </p>
        </div>
        <div class="more_info">
	        <a class="lm button" bg-pressable="lm-pressed" ng-click="learnMore('tasks')">Learn more</a>
        </div>
        <div class="image">
            <table>
                <tr>
                    <td>
                        <img draggable="false" ng-click="assessTask($event, 1)" bg-pressable src="consent/images/takesurveys_rest.svg"/>
                    </td>
                    <td>
                        <img draggable="false" ng-click="assessTask($event, 2)" bg-pressable src="consent/images/talking_rest.svg"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img draggable="false" ng-click="assessTask($event, 3)" bg-pressable src="consent/images/tapping_rest.svg"/>
                    </td>
                    <td>
                        <img draggable="false" ng-click="assessTask($event, 4)" bg-pressable src="consent/images/walking_rest.svg"/>
                    </td>                
                </tr>
            </table>
        </div>
    </article>
    <footer class="desktop">
        <div><p><span class="action"></span> on each icon to continue to Step 3.</p></div>
    </footer>
</div>

<div id="sensors" ng-show="step == 'sensors'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth"></div>
        </div>
        <div class="hdr"><div>What&#8217;s involved? Sensor data</div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info">
	        <p class="bold">
	            This study will gather sensor data from your phone.
	        </p>
        </div>
        <div class="more_info">
            <a class="lm button" bg-pressable="lm-pressed" ng-click="learnMore('sensors')">Learn more</a>
        </div>
        <div class="image" ng-click="nextStepIfDesktop()">
            <img draggable="false" style="height: 28rem" src="consent/images/phonesensordata.svg"/>
        </div>
    </article>
    <footer>
        <div>
            <p>Turn your phone upside down to continue.</p>
        </div>
    </footer>
</div>

<div id="sensorsDesktop" ng-show="step == 'sensorsDesktop'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth"></div>
        </div>
        <div class="hdr"><div>What&#8217;s involved? Sensor data</div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info">
            <p class="bold">
                This study will gather sensor data from your phone.
            </p>
        </div>
        <div class="more_info">
            <a class="lm button" bg-pressable="lm-pressed" ng-click="learnMore('sensors')">Learn more</a>
        </div>
        <div class="image" ng-click="nextStep()">
            <img draggable="false" style="margin-top: 1rem; margin-right: -5rem" src="consent/images/phonesensordata.svg"/>
        </div>
    </article>
    <footer>
        <div>
            <p>Click on the phone to continue.</p>
        </div>
    </footer>
</div>


<div id="deidentification" ng-show="step == 'deidentification'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth"></div>
        </div>
        <div class="hdr"><div>De-identification</div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info animcell">
	        <p class="bold" data-frames="12">Then the app will send your data to a secure database&hellip;</p>
	        <p class="bold" data-frames="2">&hellip;where it will be separated from your personal identity.</p>
        </div>
        <div class="more_info">
            <a class="lm button" bg-pressable="lm-pressed" ng-click="learnMore('deidentification')">Learn more</a>
        </div>
        <div class="image animcell" ng-click="nextStep()">
            <div><img draggable="false" src="consent/images/deidentification/step4_1.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_2.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_3.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_4.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_5.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_6.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_7.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_8.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_9.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_10.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_11.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_12.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_13.svg"/></div>
            <div><img draggable="false" src="consent/images/deidentification/step4_14.svg"/></div>
        </div>
    </article>
    <footer>
        <div>
            <p class="animcell">
	            <span data-frames='13'></span>
	            <span><span class="action"></span> on the graphic to continue.</span>
            </p>
        </div>
    </footer>
</div>

<div id="aggregation" ng-show="step == 'aggregation'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth"></div>
        </div>
        <div class="hdr"><div>Combining data</div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info animcell">
            <p class="bold" data-frames="3">Your de-identified data&hellip;</p>
            <p class="bold" data-frames="2">&hellip;is combined with lots of other data.</p>
            <p class="bold" data-frames="3">And all that data will be used and reused for new research.</p>
        </div>
        <div class="more_info">
            <a class="lm button" bg-pressable="lm-pressed" ng-click="learnMore('aggregation')">Learn more</a>
        </div>
        <div class="image animcell" ng-click="nextStep()">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
        </div>
    </article>
    <footer>
        <div>
            <p class="animcell">
                <span data-frames="7"></span>
                <span><span class="action"></span> on the graphic to continue.</span>
            </p>
        </div>
    </footer>
</div>

<div id="impact" ng-show="step == 'impact'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth"></div>
        </div>
        <div class="hdr"><div>Impact on your life</div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info animcell">
            <p class="bold">This study will take about 20 minutes per week.</p>
        </div>
        <div class="more_info">
            <a class="lm button" bg-pressable="lm-pressed" ng-click="learnMore('impact')">Learn more</a>
        </div>
        <div class="image" ng-click="nextStep()">
            [Image here]
        </div>
    </article>
    <footer>
        <div><p><span class="action"></span> on the clock to continue.</p></div>
    </footer>
</div>

<div id="risk" ng-show="step == 'risk'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth"></div>
        </div>
        <div class="hdr"><div>Potential Risk</div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info animcell">
            <p class="bold" data-frames="5">You may see a small impact on your data plan and battery&hellip;</p>
            <p class="bold" data-frames="3">&hellip;so connect to wifi and charge regularly.</p>
        </div>
        <div class="more_info">
            <a class="lm button" bg-pressable="lm-pressed" ng-click="learnMore('risk')">Learn more</a>
        </div>
        <div class="image animcell" ng-click="nextStep()">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
        </div>    
    </article>
    <footer>
        <div>
            <p class="animcell">
                <span data-frames="7"></span>
                <span><span class="action"></span> on the battery to continue.</span>
            </p>
        </div>
    </footer>
</div>

<div id="withdrawal" ng-show="step == 'withdrawal'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth"></div>
        </div>
        <div class="hdr"><div>Withdrawal</div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info">
            <p class="bold">You may withdraw your consent and discontinue participation at any time.</p>
        </div>
        <div class="image" ng-click="nextStep()">
            [image]
        </div>
        <div class="info">
            <p>Email pdbridge@@sagebase.org to withdraw.</p>
        </div>
    </article>
    <footer>
        <div><p><span class="action"></span> on the exclamation point to continue.</p></div>
    </footer>
</div>

<div id="consent" ng-show="step == 'consent'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth"></div>
        </div>
        <div class="hdr"><div>Consent</div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info">
            <p class="bold">You consent to participate in the study by entering your name and then tapping Agree.</p>
        </div>
        <div class="help">
            <p><a ng-click="learnMore('consent')">Read the full consent document</a></p>
        </div>
        <div align="center">
            <form name="consentForm" novalidate>
			    <div class="form-group">
			        <input class="form-control" placeholder="Enter your first and last names" name="name" 
                        required ng-model="name"/>
			    </div>
			    <div class="form-group">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" is-open="opened" 
                            name="birthdate" ng-model="birthdate" datepicker-options="dateOptions" 
                            date-disabled="disabled(date, mode)" placeholder="Enter your birth date"
                            max-date="maxDate" show-button-bar="false" show-weeks="false" 
                            close-text="Close" ng-required="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                        <p class="help-block">You must be at least 17 years of age</p>
                    </p>
			    </div>
			</form>
        </div>
        <div class="more_info">
            <button ng-disabled="!canSubmit()" class="gs button btn" ng-click="submit()">Agree</button>
        </div>
        <div class="help">
            <p><a style="color:silver; text-decoration: underline" ng-click="decline()">I don&#8217;t agree</a></p>
        </div>
    </article>
    <footer>
        <div></div>
    </footer>
</div>

<div id="thankyou" ng-show="step == 'thankyou'">
    <header>
        <div class="header">
            <div class="logo"><h1>Parkinson&rsquo;s Disease Mobile Study</h1></div>
            <div class="auth"></div>
        </div>
        <div class="hdr"><div><!-- blank --></div></div>
        <div class="ng-include" src="'/consent/views/wiz.html'"></div>
    </header>
    <article>
        <div class="info">
            <h3>Thank you</h3>
            <p>for participating in the study.</p>
        </div>
        <div class="sub_info">
            <p>A copy of the full consent document will be sent to your email address for your records.</p>
        </div>
    </article>
    <footer ng-click="begin()">
        <div><p><span class="action"></span> here to begin.</p></div>
    </footer>
</div>

</div>

<script src="shared/build/bridge-shared.js"></script>
<script src="consent/build/consent.js"></script>

</body>
</html>