@(auth: String)<!DOCTYPE html>
<html lang="en">
<head>
    <!-- IE support removed for the moment because of all the clutter. See index.ie.support.html -->
    <meta charset="utf-8" />
    <title>Bridge: Patients &amp; Researchers in Partnership - Sage Bionetworks</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="build/bridge.css" />
    <script>window.bridgeAuth = @Html(auth);</script>
</head>
<body ng-app="bridge" ng-controller="ApplicationController">
    
    <div class="container" style="position: relative">
        <div class="loadingclock" ng-show="loading"></div>
        <div class="row header">
            <div class="col-sm-4">
                <a href="/" class="partner-header"></a>
            </div>
            <div class="col-sm-8">
                <div class="bridge-header" ng-cloak>
                    <div ng-hide="session.authenticated">
                        <form name="signInForm" class="form-inline">
                            <input class="form-control input-sm" required placeholder="Username" type="text" name="username" ng-model="credentials.username"/>
                            <input class="form-control input-sm" required placeholder="Password" type="password" name="password" ng-model="credentials.password"/>
                            <button class="btn btn-default btn-sm" ng-hide="session.sessionToken" ng-disabled="!canSubmit()" ng-click="signIn()">Sign In</button>
                            <a class="btn" ng-click="resetPassword()">Forgot Password</a>
                        </form>
                    </div>
                    <div ng-hide="!session.authenticated">
                        <span ng-bind="session.username"></span>
                        <button class="btn btn-default" ng-show="session.sessionToken" ng-click="signOut()">Sign Out</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-pane">
            <ul class="nav nav-tabs" ng-show="session.authenticated" ng-cloak>
                <li ng-class="{active: tabClass(tab)}" ng-repeat="tab in tabs">
                    <a href="{{tab.link}}">{{tab.label}}</a>
                </li>
            </ul>
            <div id="content-pane" ng-view></div>
        </div>
        <div class="footer-break">
            <p>
                &copy; 2014 <a href="http://www.sagebase.org">Sage Bionetworks</a><br> 
                <span><small>bridge: TODO, repo: TODO</small></span>
            </p>
        </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
    <script src="build/bridge.min.js"></script>
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-46518505-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</body>
</html>

