@(auth: String)<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Bridge: Patients &amp; Researchers in Partnership - Sage Bionetworks</title>
    <meta name="viewport" content="width=device-width" />
    <base href="/"/>
    <script>window.bridgeAuth = @Html(auth);</script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/styles/humane-modified.css" />
    <link rel="stylesheet" href="neurod/styles/info.css" />
    <link rel="stylesheet" href="neurod/styles/carousel.css" />
</head>
<body ng-app="neurod" ng-controller="NeurodController">

<div class="border">
    <div class="header">
        <div class="logo">
            <h1>Bridge Parkinson&rsquo;s Research Program</h1>
        </div>
        <div class="auth">
            Already have an account? <button id="signInLink" class="btn btn-default" ng-click="signIn()">Sign In</button>
            <br><a id="resetPasswordLink" style="font-size: smaller" ng-click="resetPassword()">Forgot Password?</a>
        </div>
    </div>
    <div class="main_content" ng-view></div>
    <footer>
        <div class="sage_logo"></div>
        <div class="center"></div>
        <div class="rwjf_logo"></div>
    </footer>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="app/scripts/humane-modified.js"></script>

<script src="neurod/scripts/controllers/neurod.js"></script>
<script src="neurod/scripts/controllers/join.js"></script>
<script src="neurod/scripts/controllers/joined.js"></script>
<script src="neurod/scripts/directives/bg-compare.js"></script>
<script src="neurod/scripts/directives/bg-carousel.js"></script>
<script src="neurod/scripts/directives/bg-scroll-nav.js"></script>
<script src="neurod/scripts/services/humane.js"></script>
<script src="neurod/scripts/services/form-service.js"></script>
<script src="neurod/scripts/services/auth-service.js"></script>
<script src="neurod/scripts/services/signin-service.js"></script>
<script src="neurod/scripts/services/signup-service.js"></script>
<script src="neurod/scripts/services/reset-password-service.js"></script>

</body>
</html>

