@(auth: String)<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Parkinson&rsquo;s Disease Mobile Study - Sage Bionetworks</title>
    <meta name="viewport" content="width=device-width" />
    <base href="/"/>
    <script>window._session = @Html(auth);</script>
    <link rel="stylesheet" href="../shared/build/bridge-shared.css" />
    <link rel="stylesheet" href="neurod/build/neurod.css" />
</head>
<body ng-app="neurod" ng-controller="MainController">
  
<div class="border">
    <div class="header">
        <div class="logo">
            <h1>Parkinson&rsquo;s Disease Mobile Study</h1>
        </div>
        <div class="auth">
            Already have an account? <button id="signInLink" class="btn btn-default" ng-click="signIn()">Sign In</button>
        </div>
    </div>
    
    <div class="main_content" ng-view>
    </div>
    <footer>
        <div class="sage_logo"></div>
        <div class="center"></div>
        <div class="rwjf_logo"></div>
    </footer>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="shared/build/bridge-shared.min.js"></script>
<script src="neurod/build/neurod.min.js"></script>

</body>
</html>

