@(auth: String, assetsHost: String, assetsBuild: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <script>
        window._session = @Html(auth);
        window.assetsHost = "@assetsHost";
    </script>
    <link href="//@assetsHost/mobile/styles/normalize.css" type="text/css" rel="stylesheet"/>
    <link href="//@assetsHost/mobile/styles/skeleton.css" type="text/css" rel="stylesheet"/>
    <link href="//@assetsHost/mobile/styles/mobile.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="logo_box"><img id="logo" /></div>
<div class="form_box" id="resetPasswordSection">
	<form method="post">
		<div>
			Password<br>
			<input class="u-full-width" type="password" name="password"/>
		</div>
		<div>
			Confirm Password
			<input class="u-full-width" type="password" name="confirmPassword"/>
		</div>
		
		<p id="errorMessage" class="warn"></p>
		
		<div style="margin-top:10px">
			<input id="submit" type="submit" value="Reset Password"/>
		</div>
	</form>
</div>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//@assetsHost/mobile/script.js"></script>
<script>
$("*[name='password']").focus();

function success() {
    $("#resetPasswordSection").html("<p class='success'>Your password has been successfully updated.</p>");
}
function error(msg) {
    $("#errorMessage").html(msg).show();
    $("#submit").attr("value","Reset Password");
    submitted = false;
}
function failure() {
    error("Your password could not be reset. Contact <a href='mailto:bridgeit@@sagebase.org'>bridgeit@@sagebase.org</a> to receive further assistance.");
}
if (!qd.study) {
    failure();
    $("form div").hide();
}

var submitted = false;
$("form").on("submit", function(e) {
    e.preventDefault();
    if (submitted) { return; }
    submitted = true;
    
    var $this = $(this);
    var password = $this.find("*[name='password']").val();
    var confirmPassword = $this.find("*[name='confirmPassword']").val();
    
    if (password === "" || confirmPassword === "") {
        return error("Password is required and must be entered twice.");
    } else if (password !== confirmPassword) {
        return error("The two passwords are not the same.");
    } else {
        $("#errorMessage").hide();
    }
    $("#submit").attr("value","Resetting...");
    try {
        var p = $.ajax({
            headers: {'Bridge-Study': host},
            type: "POST",
            url: "/api/v1/auth/resetPassword",
            data: JSON.stringify({"sptoken":qd.sptoken[0], "password": password}),
            contentType: "application/json, charset=utf-8",
            dataType: "json"
        });
        p.done(success).fail(failure);
    } catch(e) { // happens if the query string is wrong.
        console.log(e);
        failure();
    }
});

</script>
</body>
</html>
