@(assetsHost: String, assetsBuild: String, studyName: String, studyId: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@studyName Sign In Error</title>
    <script>
        window.assetsHost = "@assetsHost";
    </script>
    <link href="//@assetsHost/mobile/styles/normalize.css" type="text/css" rel="stylesheet"/>
    <link href="//@assetsHost/mobile/styles/skeleton.css" type="text/css" rel="stylesheet"/>
    <link href="//@assetsHost/mobile/styles/mobile.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="logo_box">
    <img id="logo" onerror="this.style.display='none'"
    	    src="//@assetsHost/mobile/images/@{studyId}.svg">
</div>
<div class="form_box">
	<h3>Please try again on your phone</h3>
	
	<p>In order to sign in to @studyName, open the sign in email on your phone, 
		and click the link again to sign in through the app. </p>
</div>
</body>
</html>
